<br>
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>Bloccit: an application that allows ours users to create self-destructing to-do lists</p>
 
</div>

<div class="row">
  <div class="col-md-4">
    <h2>create multiple to-do items.</h2>
  </div>
  <div class="col-md-4">
    <h2>mark to-do items as complete and have them deleted.</h2>
  </div>
  <div class="col-md-4">
    <h2>see how many days remain before a to-do item is automatically deleted.</h2>
  </div>
</div>