
 <table id="items-<%= item.id %>">
 	<tr>
 	<td><%= link_to "", [current_user, item], method: :delete,remote: true, class: 'glyphicon glyphicon-ok' %></td>
 	<td><%= item.name %></td>
 	<td><%= pluralize(item.days_left, 'days') %></td>
 </tr>
 </table>
