<% if @item.destroyed? %>
   $('#items-' +<%= @item.id %>).fadeOut();
   $('.js-items-count').html('<%= pluralize(current_user.items.count, "item") %>');
 <% else %>
   $('#items-' +<%= @item.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
 <% end %>